body {
  font-family: "微軟正黑體";
}

.header .bar {
  background-color: #f6f6f6;
  height: 30px;
}

.header .bar ul {
  float: right;
}
.header .bar ul li {
  margin-right: 10px;
  margin-top: 8px;
  float: left;
}
.header .bar img {
  float: left;
}

.header .bar span {
  float: left;
  margin-left: 5px;
}
.menu ul {
  float: right;
}
.menu ul li {
  float: left;
  display: block;
  height: 50px;
  width: 100px;
  line-height: 50px;
  text-align: center;
  font-family: "微軟正黑體";
  font-size: large;
  font-weight: 600;
  color: #00cc99;
}
.menu ul li:hover {
  border-bottom: 5px solid #00cc99;
  cursor: pointer;
}

.body .banner {
  position: relative;
  height: 600px;
  background-image: url("./img/banner.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 150px;
  box-sizing: border-box;
}

.banner .title {
  text-align: left;
  color: white;
  font-family: "微軟正黑體";
  font-size: 56px;
  line-height: 1.5;
  top: 200px;
  padding: 40px 20px;
  background-color: rgba(30, 30, 28, 0.4);
}

.courseList .block {
  padding: 10px;
  float: left;
  height: 450px;
  margin: 80px 80px ;
  width: 22%;
  box-sizing: border-box;
  box-shadow: rgb(214, 214, 214) 0 2px 4px 1px;
  justify-content: center;
}
.courseLogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.courseList{
  display: flex;
  flex-direction: row;
}

.courseContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  font-size: 20px;
  font-family: "微軟正黑體";
}
.courseContent ul {
  margin-left: 24px;
}
.courseContent .title {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}
.courseContent li {
  list-style: initial;
}

.courseList .html img {
  width: 40%;
  height: 40%;
}
.courseList .jquery img {
  margin-top: 5%;
  width: 40%;
  height: 40%;
}

.courseList .rwd img {
  width: 80%;
  height: 40%;
  margin-top: 15%;
}

.clearfix {
  clear: both;
}

.important {
  color: #00cc99;
}

.footer {
  height: 120px;
  padding: 35px 35px;
  box-sizing: border-box;
}
.footer .logo {
  float: left;
}

.footer .info {
  float: right;
  font-family: "微軟正黑體";
  font-size: 20px;
  line-height: 1.5;
}
.footer .info p {
  display: inline;
  color: rgba(229, 89, 149);
}
.table {
  text-align: center;
  margin-top: 100px;
  line-height: 1.5;
}

.table span {
  font-size: 28px;
  font-weight: 600;
  font-family: "微軟正黑體";
}
table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: left;
  font-size: 20px;
  font-family: "微軟正黑體";
}

table th,
table td {
  border-top: solid rgb(221, 221, 221);
  width: 300px;
  padding: 10px;
}
table th {
  background-color: rgb(247, 247, 247);
  font-weight: 600;
}

.formArea {
  margin-top: 80px;
  padding-top: 20px;
  background: linear-gradient(rgb(0, 100, 75), rgb(0, 151, 114));
  position: relative;
  height: 350px;
}

.formArea .title {
  text-align: center;
  line-height: 1.5;
  font-size: 24px;
  color: white;
}

form label {
  color: white;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 500;
}

.whiteBlock {
  background-color: white;
  margin: 1%;
  width: 48%;
  height: 65%;
  float: left;
  box-sizing: border-box;
  border-radius: 5px;
}
.form {
  margin: 1%;
  width: 48%;
  height: 40%;
  float: left;
  line-height: 20px;
}
.form input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border-width: 1px;
}
.form .btn {
  background-color: rgb(0, 204, 153);
  color: white;
  width: 15%;
  height: 40px;
  padding: 5px;
  margin-top: 10px;
  float: right;
  border: 0;
  font-size: 20px;
}
