.header .bar {
  background-color: #f6f6f6;
  height: 30px;
  /* float: right; */
  /* padding: 10px; */
}

.header .bar ul {
  float: right;
}
.header .bar ul li {
  margin-right: 10px;
  margin-top: 8px;
  float: left;
}
.header .bar img {
  float: left;
}

.header .bar span {
  float: left;
  margin-left: 5px;
}
.menu ul {
  float: right;
}
.menu ul li {
  float: left;
  display: block;
  height: 50px;
  width: 100px;
  line-height: 50px;
  text-align: center;
  font-family: "微軟正黑體";
  font-size: large;
  font-weight: 600;
  color: #00cc99;
}
.menu ul li:hover {
  border-bottom: 5px solid #00cc99;
  cursor: pointer;
}

.body .banner {
  position: relative;
  height: 600px;
  background-image: url("./img/banner.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 150px;
}

.banner .title {
  text-align: left;
  color: white;
  font-family: "微軟正黑體";
  font-size: 56px;
  line-height: 1.5;
  top: 200px;
  padding: 40px 20px;
  background-color: rgba(30, 30, 28, 0.4);
}

.courseList li {
  float: left;
  border: 1px solid black;
  height: 450px;
  margin: 0 80px;
  /* padding: 30px 60px; */
  width: 23%;
  box-sizing: border-box;
  
}

.courseList .html img, .courseList .jquery img{
  width: 40%;
  margin-left: 110px;
  margin-top: 50px;

}
.courseList .rwd img{
  width: 80%;
  margin-left: 40px;
  margin-top: 50px;
  
}

.clearfix {
  clear: both;
}

.important{
  color:  #00cc99;
}

.footer {
  height: 120px;
  padding: 35px 35px;
}
.footer .logo {
  float: left;
}

.footer .info {
  float: right;
  font-family: "微軟正黑體";
  font-size: 20px;
  line-height: 1.5;
}
.footer .info p {
  display: inline;
  color: rgba(229, 89, 149);
}
